<!DOCTYPE html>
<html>
    <head>
        <title>API Call</title>
    </head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Api Call Button</th>
        </tr>
        <tr id="row-item">
            <td>Test</td>
            <td>Test</td>
            <td><button class="button">API Call 1</button></td>
        </tr>
        <tr id="row-item">
            <td>Test</td>
            <td>Test</td>
            <td><button class="button">API Call 2</button></td>
        </tr>
    </table>

</body>
</html>