{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>API Call</title>
        <script src="{% static 'Button.js' %}"></script>
    </head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Input</th>
            <th>Api Call Button</th>
        </tr>
        <tr id="row-item">
            <td>Button 1</td>
            <td>Add dummy data to database</td>
            <td></td>
            <td><button class="button" onclick="addDummy()">Click me</button></td>
        </tr>
        <tr id="row-item">
            <td>Button 2</td>
            <td>Delete specific entry to database</td>
            <form action="{% url 'delete_user' %}" method="post">
                <td><input type="number" id="account_id" name="account_id" required></td>
                <td><button class="button" type="submit" onclick="deleteSpecificEntry()">Click me</button></td>
            </form>
            
        </tr>
        <tr id="row-item">
            <td>Button 3</td>
            <td>Delete latest entry to database</td>
            <td></td>
            <td><button class="button" onclick="deleteLatestEntry()">Click me</button></td>
        </tr>
        <tr id="row-item">
            <td>Button 4</td>
            <td>Delete All Entry</td>
            <td></td>
            <td><button class="button" onclick="deleteAllEntry()">Click me</button></td>
        </tr>
    </table>
</body>
</html>